<!DOCTYPE html>
<html>  <head>
    <title>Nuovo ingrediente</title>
	<link rel="icon" type="icon" href="image/favicon.ico">
    <link rel="stylesheet" href="/css/admin/formUpdateIngredient.css?version=3" />
	<link rel="stylesheet" href="/css/_fileUpload.css?version=3"/>
    <script src="/js/3.7.1_jquery.min.js"></script>
	<script src="/js/admin/_previewFormUpdate.js"></script>
	<link rel="stylesheet" href="/css/_menu.css"/>
  </head>
  <body>
		<section id="Home">
	    <nav>
			<div class="logo">
						<a href="/">
			            	<img src="/image/logo.png">
						</a>
			        </div>
	        <ul>
	            <li><a href="/cooks">Lista cuochi</a></li>
	            <li><a href="/searchRecipes">Cerca ricette per ingredienti</a></li>
				<li th:if="${admin==true}"><a href="/admin/manageIngredients">Gestisci ingredienti</a></li>
			  <li th:if="${admin==true}"><a href="/admin/manageRecipes">Gestisci ricette</a></li>
			  <li th:if="${admin==true}"><a href="/admin/manageCooks">Gestisci cuochi</a></li>
	        </ul>

	        <div>
				<a th:if="${userDetails!=null}" th:href="@{'/cook/' + ${cookDetails.id}}" id="account">
					<img th:src="@{${cookDetails.photo.getImagePath}}" id="current-cook-image">
				</a>
				<a th:if="${userDetails!=null}" href="/logout" id="logout">Esci</a>
				<a th:unless="${userDetails!=null}" href="/login" id="login">Accedi</a>
				<a th:unless="${userDetails!=null}" href="/register" id="register">Registrati</a>
			</div>

	    </nav>
		</section>
	<br>
	<form th:action="@{/admin/ingredient}" method="POST" th:object="${ingredient}" enctype="multipart/form-data">
    <div>
      Nome
	  <br><span><input type="text" name='name' th:field="${ingredient.name}" class="input"/></span>
    </div>
    <div>
      Immagine
	  <br>
	  <img class="image" id="thumbnail">
	  <br>
	  <input type="file" name='fileImage' id="fileImage" accept="image/png, image/jpeg" class="fileImage"/>
	<label for="fileImage" class="label">Carica immagine</label>
    <br>
    </div>
    <div>
      <span><button type="submit" class="button">Crea</button></span>
    </div>
	</form>
  </body>
</html>
