<!DOCTYPE html>
<html>  <head>
    <title>Nuovo cuoco</title>
	<link rel="icon" type="icon" href="image/favicon.ico">
    <link rel="stylesheet" href="/css/authentication/register.css?version=3" />
	<link rel="stylesheet" href="/css/_fileUpload.css?version=3"/>
	<script src="/js/3.7.1_jquery.min.js"></script>
	<script src="/js/authentication/register.js"></script>
	<link rel="stylesheet" href="/css/_menu.css"/>
  </head>
  <body>
		<section id="Home">
	    <nav>
			<div class="logo">
						<a href="/">
			            	<img src="/image/logo.png">
						</a>
			        </div>
	        <ul>
	            <li><a href="/cooks">Lista cuochi</a></li>
	            <li><a href="/searchRecipes">Cerca ricette per ingredienti</a></li>
				<li th:if="${admin==true}"><a href="/admin/manageIngredients">Gestisci ingredienti</a></li>
			  <li th:if="${admin==true}"><a href="/admin/manageRecipes">Gestisci ricette</a></li>
			  <li th:if="${admin==true}"><a href="/admin/manageCooks">Gestisci cuochi</a></li>
	        </ul>

	        <div>
				<a th:if="${userDetails!=null}" th:href="@{'/cook/' + ${cookDetails.id}}" id="account">
					<img th:src="@{${cookDetails.photo.getImagePath}}" id="current-cook-image">
				</a>
				<a th:if="${userDetails!=null}" href="/logout" id="logout">Esci</a>
				<a th:unless="${userDetails!=null}" href="/login" id="login">Accedi</a>
				<a th:unless="${userDetails!=null}" href="/register" id="register">Registrati</a>
			</div>

	    </nav>
		</section>
	<br>
    <h1>Registrati</h1>
    <form th:action="@{/admin/cook}" method="POST" enctype="multipart/form-data" th:object="${credentials}">
	      	<div th:if="${#fields.hasGlobalErrors()}">
				<span class="error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</span>
		  	</div>
		<div>
        Username: <span><input required type="text" th:field="${credentials.username}"/></span>
		<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
      </div>
      <div>
        Password: <span><input required type="text" th:field="${credentials.password}"/></span>
      </div>
      <div>
		  <div>
        Nome: <span><input required type="text" th:field="${cook.name}"/></span>
		<span th:if="${#fields.hasErrors('cook.name')}" th:errors="*{cook.name}"></span>
      </div>
      <div>
        Cognome: <span><input required type="text" th:field="${cook.surname}"/></span>
		<span th:if="${#fields.hasErrors('cook.surname')}" th:errors="*{cook.surname}"></span>
      </div>
      <div>
        Data di nascita: <span><input required type="date" th:field="${cook.birthday}"/></span>
      </div>
      <div>
        Foto profilo:
		<br>
		<input type="file" name='fileImage' id="fileImage" accept="image/png, image/jpeg" class="fileImage"/>
		<label for="fileImage" class="label">Carica foto profilo</label>
      <br>
      </div>
	  <img id="thumbnail"/>
	  <span th:if="${#fields.hasErrors('cook.photo')}" th:errors="*{cook.photo}"></span>
	  </div>
        <span><button type="submit" id="submit">Registrati</button></span>
      </div>
    </form>
	<a href="/login">Sei gi&agrave; registrato? Accedi!</a>
  </body>
</html>
