<!DOCTYPE html>
<html>  <head>
    <title>Nuovo cuoco</title>
    <link rel="stylesheet" href="/css/admin/formUpdateIngredient.css?version=3" />
    <script src="/js/3.7.1_jquery.min.js"></script>
	<script src="/js/admin/formUpdateIngredient.js"></script>
  </head>
  <body>
	<form th:action="@{/admin/updateIngredient/}+${ingredient.id}" method="POST" th:object="${ingredient}" enctype="multipart/form-data">
    <div>
      Nome
	  <br><span><input type="text" name='name' th:field="${ingredient.name}" class="input"/></span>
    </div>
    <div>
      Immagine
	  <br>
	  <img th:src="${ingredient.image.getImagePath}" class="image" id="thumbnailIngredient">
	  <br>
	  <input type="file" name='fileImage' id="fileImage" accept="image/png, image/jpeg" class="fileImage"/>
	<label for="fileImage" class="label">Cambia immagine</label>
    <br>
    </div>
    <div>
      <span><button type="submit" class="button">Aggiorna</button></span>
    </div>
	</form>
  </body>
</html>
