<!DOCTYPE html>
<html>

<head>
	<title>
		SiwFood - Homepage
	</title>
	<link rel="stylesheet" href="/css/index.css?version=3"/>
</head>

<body>
	<span th:if="${userDetails!=null}">
		<p th:text="${userDetails.getUsername()}"></p>
		<p th:text="${cookDetails.name} + ', ' + ${cookDetails.surname}"></p>
		<a href="/logout">Esci</a>
	</span>
	<p>Menu temporaneo per test</p>
	 <ul>
  <li><a href="/admin/newCook">Aggiungi cuoco</a></li>
  <li><a href="/cooks">Lista cuochi</a></li>
  <li><a href="/admin/manageIngredients">Gestisci ingredienti</a></li>
  <li><a href="/admin/manageRecipes">Gestisci ricette</a></li>
  <li><a href="/admin/manageCooks">Gestisci cuochi</a></li>
  <li><a href="/searchRecipes">Cerca ricette</a></li>
</ul> 
<br>
<br>
	<div th:if="${recipes==null || recipes.isEmpty()}">Non ci sono ricette nel sistema</div>
	<ul>
			<li th:each="recipe : ${recipes}">
				<img class="recipeimage" th:src="@{${recipe.images[0].getImagePath}}">
				<a th:href="@{'/recipe/' + ${recipe.id}}" th:text="${recipe.name}"></a>
				<div class="circular_portrait">
					<img class="cookimage" th:src="@{${recipe.cook.photo.getImagePath}}">
				</div>
				<a th:href="@{'/cook/' + ${recipe.cook.id}}" th:text="@{${recipe.cook.name} + ' ' + ${recipe.cook.surname}}"></a>
			</li>
		</ul>
	<div th:if="${userDetails!=null}">
		<a href="/newRecipe">Aggiungi ricetta</a>
	</div>
</body>

</html>