<!DOCTYPE html>
<html>

<head>
	<title>
		SiwFood - Homepage
	</title>
</head>

<body>
	<p th:if="${userDetails!=null}" th:text="${userDetails.getUsername()}"></p>
	<p th:if="${cookDetails!=null}" th:text="${cookDetails.name} + ', ' + ${cookDetails.surname}"></p>
	<p>Menu temporaneo per test</p>
	 <ul>
  <li><a href="/newCook">Aggiungi cuoco</a></li>
  <li><a href="/formUpdateCook/1">Aggiorna cuoco</a></li>
  <li><a href="/cooks">Lista cuochi</a></li>
  <li><a href="/admin/manageRecipes">Gestisci ricette</a></li>
  <li><a href="/admin/manageCooks">Gestisci cuochi</a></li>
  <li><a href="/searchRecipes">Cerca ricette</a></li>
</ul> 
<br>
<br>
	<div th:if="${recipes==null || recipes.isEmpty()}">Non ci sono ricette nel sistema</div>
	<ul>
		<li th:each="recipe : ${recipes}">
			<a th:href="@{'/recipe' + '/' + ${recipe.id}}" th:text="${recipe.name}"></a>
		</li>
	</ul>
	<div>
		<a href="/newRecipe">Aggiungi ricetta</a>
	</div>
</body>

</html>