<!DOCTYPE html>
<html>

<head>
	<title>
		SiwFood - Homepage
	</title>
	<link rel="stylesheet" href="/css/admin/manageIngredients.css?version=3"/>
</head>

<body>
	<div th:if="${ingredients==null || ingredients.isEmpty()}">Non ci sono ingredienti nel sistema</div>
		<ul class="ingredients">
			<li th:each="ingredient : ${ingredients}" class="">
				<img th:src="@{${ingredient.image.getImagePath}}" class="ingredientImage">
				<a th:href="@{/admin/removeIngredient/}+${ingredient.id}" th:text="${ingredient.name}" class="ingredientLink"></a>
				
			</li>
		</ul>
</body>

</html>