.newRecipe a {
	margin: auto;
	padding: 5%;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	color:#4CAF50;
}

.newRecipe a:hover {
	color:#45a049;
}

.user {
	display:inline;
}

.newRecipe {
	height: 2rem;
	width: 10rem;
}

#search {
	display: inline-block;
	width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#submit {
    width: 9.7%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
}

#submit:hover {
  background-color: #45a049;
}

#previousSearch {
	font-style: italic;
}