.recipeImage {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 10%;
}

.list {
	list-style: none;
}

.listItem {
	margin-left: -1.8%;
	margin-right: 1.0%;
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	border-radius: 25px;
	box-shadow: 2px 3px 20px -3px rgba(0,0,0,.15);
}

.recipe {
	display: flex;
	padding-left: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	height: 40%;
}

.linkRecipe {
	margin: auto;
	font-size: 3rem;
	text-align: center;
	text-decoration: none;
	color:#4CAF50;
	font-weight: 700;
}

.linkRecipe:hover {
	color:#45a049;
}

.newRecipe a {
	margin: auto;
	padding: 5%;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	color:#4CAF50;
}

.newRecipe a:hover {
	color:#45a049;
}

.user {
	display:inline;
}

.newRecipe {
	height: 2rem;
	width: 10rem;
}

#search {
	display: inline-block;
	width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#submit {
    width: 9.7%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
}

#submit:hover {
  background-color: #45a049;
}

section{
    width: 100%;
    height: 10vh;
}

section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    top: -0.01vh;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 7px 0;
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

section nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #4CAF50;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover{
    color: #4CAF50;
}

section nav .icon i{
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icon i:hover{
    color: #4CAF50;
}

section p{
    width: 650px;
    text-align: justify;
    position: relative;
    left: 123px;
    bottom: 120px;
    line-height: 22px;
}

#login, #logout {
	align-items: center;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(220, 230, 238);
  text-align: center;
  white-space: nowrap;
  padding: 11px 20px;
  display: inline-flex;
  text-decoration: none;
  color:black;
  font-weight: 700;
}

#login:hover, #logout:hover {
	background-color: rgb(244, 249, 253);
  cursor: pointer;
}

#register {
	align-items: center;
  box-sizing: border-box;
  background-color: #4CAF50;
  border-radius: 24px;
  border-width: 2px;
  border-style: solid;
  border-color: #45a049;
  text-align: center;
  white-space: nowrap;
  padding: 11px 20px;
  display: inline-flex;
  text-decoration: none;
  color:white;
  font-weight: 700;
}

#register:hover {
	background-color: #45a049;
  cursor: pointer;
}

.recipe-information {
  padding-left: 1.2rem;
  position: relative;
}

#account {
	text-decoration: none;
	cursor: pointer;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#account svg{
	width: 2.2rem;
	height: 2.2rem;
	vertical-align: middle;
	color: #45a049;
}

#account svg:hover{
color: #367d39;
}

.description {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  /*line-height: 1.8em;*/
  max-width: 97%;
}

.numberOfIngredients {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  width: 40vw;
}

.right {
	display: block;
	float: right;
	margin-top: 0.5%;
}

.date {
	font-size: 1.3rem;
	position:relative;
	margin-right:1rem;
}

.cook {
	display: flex;
	height: 5rem;
	margin-top: 2%;
	right: 0;
  	position: absolute;
  	vertical-align: middle;
}

.cookLink {
	margin: auto;
	padding: 1rem;
	padding-right: 3rem;
	font-size: 1.3rem;
	text-decoration: none;
	text-align: right;
	color:#4CAF50;
	font-weight: 700;
}

.cookLink:hover {
	color:#45a049;
}

.cookImage {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}