<!DOCTYPE html>
<html>

<head>
	<title>Ricetta</title>
	<link rel="stylesheet" href="/css/stile.css" />
	    <script src="/js/3.7.1_jquery.min.js"></script>
	    <script src="/js/imagePreview.js"></script>
</head>

<body>
	<h1>Ricetta</h1>
	<div th:if="${recipe}">
		<span th:text="${recipe.name}"></span>
		<br>
		<span th:text="${recipe.description}"></span>
		<br>
		<span th:text='${#dates.format(recipe.publicationDate, "yyyy-MM-dd HH:mm")}'></span>
		<div th:if="${images==null || images.isEmpty()}">Non ci sono immagini per la ricetta corrente</div>
			<ul>
				<li th:each="image : ${images}">
					<img th:src="@{${image.getImagePath}}">
				</li>
			</ul>
	<!--Da questa punto in poi si fa riferimento alla modifica disponibile solamente per il cuoco o l'amministratore che ha inizialmente pubblicato la ricetta-->
	<form th:action="@{/addQuantity/}+${recipe.id}" method="POST" enctype="multipart/form-data">
      <div>
        Quantit&agrave;: <span><input type="text" name='quantity'/></span>
      </div>
      <div>
        Ingrediente: <span><input type="text" name='name'/></span>
      </div>
      <div>
        Immagine ingrediente: <span><input type="file" name='fileImage' id="fileImage" accept="image/png, image/jpeg" /></span>
      <br>
      </div>
      <div>
		  <img id="thumbnail" alt="Image Preview"/>
	  </div>
      <div>
        <span><button type="submit">Aggiungi</button></span>
      </div>
    </form>
    <!--Da questo punto in poi parte generale-->
	</div>
	<div th:unless="${recipe}">Non esiste</div>
	
	<div th:if="${quantities==null || quantities.isEmpty()}">Non ci sono ingredienti per la ricetta corrente</div>
	<ul>
		<li th:each="quantity : ${quantities}">
			<a th:href="@{/removeQuantity/}+${recipe.id}+'/'+${quantity.id}" th:text="${quantity.quantity}+' '+${quantity.getIngredient().name} "></a>
			<img th:src="@{${quantity.ingredient.image.getImagePath}}">
		</li>
	</ul>
</body>
</html>