<!DOCTYPE html>
<html>

<head>
	<title>Cuoco</title>
	<link rel="stylesheet" href="/css/cook.css" />
</head>

<body>
	<div th:if="${cook}">
		<h1 th:text="${cook.name} + ' ' + ${cook.surname}"></h1>
		<br>
		<span th:text='${#dates.format(cook.birthday, "yyyy-MM-dd")}'></span>
		<br>
		<img th:src="@{${cook.photo.getImagePath}}">
	</div>
	<div th:unless="${cook}">Non esiste</div>
	
	<div th:if="${recipes==null || recipes.isEmpty()}">Non ci sono ricette per il cuoco corrente</div>
	<ul>
		<li th:each="recipe : ${recipes}">
			<a th:href="@{'/recipe' + '/' + ${recipe.id}}" th:text="${recipe.name}"></a>
		</li>
	</ul>
</body>

</html>