<!DOCTYPE html>
<html>

<head>
	<title>Cuochi</title>
	<link rel="stylesheet" href="/css/cooks.css" />
</head>

<body>
	<h1>Cuochi</h1>
	<div th:if="${cooks==null || cooks.isEmpty()}">Non ci sono cuochi nel sistema</div>
	<ul class="cooks">
		<li th:each="cook : ${cooks}" class="cook">
			<img th:src="@{${cook.photo.getImagePath}}" class="cookImage">
			<a th:href="@{'/cook/' + ${cook.id}}" th:text="${cook.name} + ', ' + ${cook.surname}" class="cookLink"></a>			
			<span th:if="${cook.getRecipes().size()}>0" th:text="@{'Ricette condivise: ' + ${cook.getRecipes().size()}}"></span>
			<span th:unless="${cook.getRecipes().size()}>0">Non ha condiviso ricette</span>
	
	</ul>
</body>

</html>