<!DOCTYPE html>
<html>

<head>
	<title>Cuochi</title>
	<link rel="stylesheet" href="/css/cooks.css" />
	<link rel="stylesheet" href="/css/_menu.css"/>
</head>

<body>
	<section id="Home">
		    <nav>
		        <div class="logo">
		            <img src="image/logo.png">
		        </div>
		        <ul>
		            <li><a href="/cooks">Lista cuochi</a></li>
		            <li><a href="/searchRecipes">Cerca ricette per ingredienti</a></li>
					<li th:if="${admin==true}"><a href="/admin/manageIngredients">Gestisci ingredienti</a></li>
				  <li th:if="${admin==true}"><a href="/admin/manageRecipes">Gestisci ricette</a></li>
				  <li th:if="${admin==true}"><a href="/admin/manageCooks">Gestisci cuochi</a></li>
		        </ul>

		        <div>
					<a th:if="${userDetails!=null}" th:href="@{'/cook/' + ${cookDetails.id}}" id="account">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
						  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
						  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
						</svg>
					</a>
					<a th:if="${userDetails!=null}" href="/logout" id="logout">Esci</a>
					<a th:unless="${userDetails!=null}" href="/login" id="login">Accedi</a>
					<a th:unless="${userDetails!=null}" href="/register" id="register">Registrati</a>
				</div>

		    </nav>
			</section>
			<br>
	<span th:if="${searchNameSurname}">
		Risultati per: 
			<span id="previousSearch" th:text="${searchNameSurname.name} + ', ' + ${searchNameSurname.surname}"></span>
		</span>
		<br>
		<span th:if="${searchNameSurname}">
			<span th:if="@{${cooks.size()}>1}" th:text="'Trovati '+${cooks.size()}+' cuochi'"></span>
			<span th:unless="@{${cooks.size()}>1}" th:text="'Trovato un cuoco'"></span>
		</span>
	<form th:action="@{/cooks}" method="post">
		<input class="search" type="text" th:value="${name}" name="name" placeholder="Nome"/>
		<input class="search" type="text" th:value="${surname}" name="surname" placeholder="Cognome"/>
	   <button id="submit" type="submit">Cerca</button>
	</form>
	<h1>Cuochi</h1>
	<div th:if="${cooks==null || cooks.isEmpty()}">Non ci sono cuochi nel sistema</div>
	<ul class="cooks">
		<li th:each="cook : ${cooks}" class="cook">
			<img th:src="@{${cook.photo.getImagePath}}" class="cookImage">
			<a th:href="@{'/cook/' + ${cook.id}}" th:text="${cook.name} + ', ' + ${cook.surname}" class="cookLink"></a>			
			<span th:if="${cook.getRecipes().size()}>0" th:text="@{'Ricette condivise: ' + ${cook.getRecipes().size()}}"></span>
			<span th:unless="${cook.getRecipes().size()}>0">Non ha condiviso ricette</span>
	
	</ul>
</body>

</html>