<!DOCTYPE html>
<html>  <head>
    <title>Nuova ricetta</title>
    <link rel="stylesheet" href="/stile.css?version=3" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Aggiungi una ricetta</h1>
    <form th:action="@{/recipe}" method="POST" th:object="${recipe}" enctype="multipart/form-data">
<div>
        Nome: <span><input required type="text" th:field="${recipe.name}"/></span>
      </div>
      <div>
        Descrizione: <span><input required type="text" th:field="${recipe.description}"/></span>
      </div>
      <div id="images">
        <div id="image">
			Immagini ricetta: <span><input required type="file" id="fileImage" accept="image/png, image/jpeg" class="fileImage"/></span>
		</div>
      </div>
      <br>
      <div>
		  <img id="thumbnail" alt="Image Preview"/>
      </div>
        <span><button type="submit">Conferma</button></span>
      </div>
   </form>
  </body>
  <script type="text/javascript">
	  var i=0;
	$(document).ready(function() {
		$('.fileImage').change(function () {
			AddImageInput();
			showImageThumbnail(this);
			refreshEvents();
			i++;
		});
	});
	
	function showImageThumbnail(fileInput) {
		file =fileInput.files[0];
		reader = new FileReader();
		
		reader.onload = function(e) {
			$('#thumbnail').attr('src', e.target.result);
		};
		
		reader.readAsDataURL(file);
	}
	
	function AddImageInput() {
		var images=document.getElementById("images");
		images.appendChild(document.getElementById("image").cloneNode(true));
	}
	
	function refreshEvents() {
		$('#fileImage'+i).change(function () {
			AddImageInput();
			showImageThumbnail(this);
			refreshEvents();
			i++;
		});
	}
</script>
</html>
