<!DOCTYPE html>
<html>

<head>
	<title>
		SiwFood - Homepage
	</title>
	<link rel="stylesheet" href="/css/index.css?version=3"/>
	<link rel="stylesheet" href="/css/searchRecipes.css?version=3"/>
</head>

<body>
	<ul class="menu">
	  <li><a href="/cooks">Lista cuochi</a></li>
	  <li><a href="/searchRecipes">Cerca ricette</a></li>
	  <li class="user">
				<span th:if="${userDetails!=null}" th:text="${userDetails.getUsername()}"></span>
				<a th:if="${userDetails!=null}" th:text="${cookDetails.name} + ', ' + ${cookDetails.surname}" th:href="@{'/cook/' + ${cookDetails.id}}"></a>
				<a th:if="${userDetails!=null}" href="/logout">Esci</a>
	  </li>
	  <li th:unless="${userDetails!=null}">
		<a href="/login">Accedi</a>
		<a href="/register">Registrati</a>
	  </li>
	</ul>
<br>
<form th:action="@{/}" method="post">
		<input id="search" type="text" th:value="${name}" name="name" />
	   <button id="submit" type="submit">Cerca</button>
	  </form>
<br>
	<div th:if="${recipes==null || recipes.isEmpty()}">Non ci sono ricette nel sistema</div>
	<div th:if="${userDetails!=null}" class="newRecipe">
			<a href="/newRecipe">Aggiungi ricetta</a>
		</div>
	<ul clss="list">
			<li th:each="recipe : ${recipes}" class="listItem">
				<div class="recipe">
					<img th:src="@{${recipe.images[0].getImagePath}}" class="recipeImage">
					<div>
						<a th:href="@{'/recipe/' + ${recipe.id}}" th:text="${recipe.name}" class="linkRecipe"></a>
						<p th:text="${recipe.description}"></p>
					</div>
				</div>
				<div class="cook">
					<img th:src="@{${recipe.cook.photo.getImagePath}}" class="cookImage">
					<a th:href="@{'/cook/' + ${recipe.cook.id}}" th:text="@{${recipe.cook.name} + ' ' + ${recipe.cook.surname}}" class="cookLink"></a>
				</div>
				<span th:text='${#dates.format(recipe.publicationDate, "yyyy-MM-dd HH:mm")}' class="date"></span>
			</li>
		</ul>
</body>

</html>