<!DOCTYPE html>
<html>

<head>
	<title>Ricetta</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
	<h1>Ricetta</h1>
	<div th:if="${recipe}">
		<span th:text="${recipe.name}"></span>
		<br>
		<span th:text="${recipe.description}"></span>
		<br>
		<span th:text='${#dates.format(recipe.publicationDate, "yyyy-MM-dd HH:mm")}'></span>
	<!--Da questa punto in poi si fa riferimento alla modifica disponibile solamente per il cuoco che ha inizialmente pubblicato la ricetta-->
	<form th:action="@{/addQuantity/}+${recipe.id}" method="POST" enctype="multipart/form-data">
      <div>
        Quantit&agrave;: <span><input required type="text" name='quantity'/></span>
      </div>
      <div>
        Ingrediente: <span><input required type="text" name='name'/></span>
      </div>
      <div>
        Immagini ricetta: <span><input required type="file" name='fileImage' id="fileImage" accept="image/png, image/jpeg" /></span>
      <br>
      <div>
		  <img id="thumbnail" alt="Image Preview"/>
	  </div>
      </div>
      <div>
        <span><button type="submit">Aggiungi</button></span>
      </div>
    </form>
    <!--Da questo punto in poi parte generale-->
	</div>
	<div th:unless="${recipe}">Non esiste</div>
	
	<div th:if="${quantities==null || quantities.isEmpty()}">Non ci sono ingredienti per la ricetta corrente</div>
	<ul>
		<li th:each="quantity : ${quantities}">
			<a th:href="@{/removeQuantity/}+${recipe.id}+'/'+${quantity.id}" th:text="${quantity.quantity}+' '+${quantity.getIngredient().name} ">
		</li>
	</ul>
</body>
<script type="text/javascript">
	$(document).ready(function() {
		$('#fileImage').change(function () {
			showImageThumbnail(this);
		});
	});
	
	function showImageThumbnail(fileInput) {
		file =fileInput.files[0];
		reader = new FileReader();
		
		reader.onload = function(e) {
			$('#thumbnail').attr('src', e.target.result);
		};
		
		reader.readAsDataURL(file);
	}
</script>
</html>