<!DOCTYPE html>
<html>

<head>
	<title>Ricetta</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<h1>Ricetta</h1>
	<div th:if="${recipe}">
		<span th:text="${recipe.name}"></span>
		<br>
		<span th:text="${recipe.description}"></span>
		<br>
		<span th:text='${#dates.format(recipe.publicationDate, "yyyy-MM-dd HH:mm")}'></span>
	<!--Da questa punto in poi si fa riferimento alla modifica disponibile solamente per il cuoco che ha inizialmente pubblicato la ricetta-->
	<form th:action="@{/addQuantity/1}" method="POST">
      <div>
        Quantità: <span><input required type="text" name='quantity'/></span>
      </div>
      <div>
        Ingrediente: <span><input required type="text" name='name'/></span>
      </div>
      <div>
        <span><button type="submit">Aggiungi</button></span>
      </div>
    </form>
    <!--Da questo punto in poi parte generale-->
	</div>
	<div th:unless="${recipe}">Non esiste</div>
	
	<div th:if="${quantities==null || quantities.isEmpty()}">Non ci sono ingredienti per la ricetta corrente</div>
	<ul>
		<li th:each="quantity : ${quantities}">
			<a th:text="${quantity.quantity}"></a>
		</li>
	</ul>
</body>

</html>